<config>
    <global>
        <events>
            <controller_front_init_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </controller_front_init_before>
        </events>
        <models>
            <magium_pt>
                <class>Magium_PerformanceTool_Model</class>
            </magium_pt>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>collections
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observeRoute</method>
                    </magium_performance_tool>
                </observers>
            </controller_action_predispatch>
            <model_load_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_load_before>
            <core_collection_abstract_load_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </core_collection_abstract_load_before>
            <core_collection_abstract_load_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </core_collection_abstract_load_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_front_send_response_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </controller_front_send_response_after>
            <pagecache_processor_metadata_before_save>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </pagecache_processor_metadata_before_save>
            <model_load_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_load_after>
            <model_save_commit_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_save_commit_after>
            <model_save_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_save_after>
            <model_delete_commit_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_delete_commit_after>
            <model_delete_before>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_delete_before>
            <model_delete_after>
                <observers>
                    <magium_performance_tool>
                        <class>magium_pt/observer</class>
                        <method>observe</method>
                    </magium_performance_tool>
                </observers>
            </model_delete_after>
        </events>

    </frontend>
</config>
